* {
    margin: 0px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

:root {
    --grey-color: grey;
    --section-color: white;
    --black-color: #000000;
    --white-color: #ffffff;
}


.navbar {
    background-color: var(--section-color);
    color: black !important;
    border-bottom: 1px solid black;
}


.nav-link {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;

}


.navbar .navbar-nav .nav-link {
    color: black;
    margin-left: 12px;
    position: relative;
    padding-bottom: 5px !important;
    display: inline-block;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover::after{
    transform: scaleX(0.7);
}


.navbar .navbar-toggler {
    color: black;
    font-size: 25px;
    border-color: black;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--grey-color);
}

.navbar .btn {
    background-color: black;
    color: white;
    padding: 6px 22px;
    margin-left: 12px;
}

.navbar .btn:hover {
    background-image: linear-gradient(to right, black 2%, grey 80%);
}

.logo {
    width: 125px;
    filter: contrast(100%) grayscale(150%);
}
main {
    width: 100%;
}

.imageDev img {
    height: 90vh;
    width: 100%;
    border-radius: 30px;
}

.imageDev a {
    position: absolute;
    top: 35%;
    left: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    font-weight: 600;
    transition: 0.5s ease;
}

.imageDev a:hover {
    transform: translateX(-5px);
}

.imageDev h1 {
    position: absolute;
    top: 45%;
    left: 20px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 60px;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.39);

}

.imageDev span {
    position: absolute;
    top: 65%;
    left: 20px;
    color: rgb(54, 54, 54);
    padding: 9px;
    background-color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 700;
}

.imageDev p {
    position: absolute;
    top: 60%;
    left: 20px;
    color: rgb(252, 252, 252);
    font-size: large;
    font-weight: 550;
    font-family: "Archivo", sans-serif;
    letter-spacing: 1.5px;
}

.informations h1 {
    text-align: center;
    padding: 55px;
    letter-spacing: 1.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex_span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.flex_span span {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.26);
    width: 300px;
}

.flex_span span i {
    font-size: x-large;
}

.flex_span p {
    text-align: center;
    color: #0000007e;
    padding-top: 10px;
}

.duree {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.propos h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 55px;
}

.propos p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 100px;
    line-height: 30px;
    color: #3d3d3d;
    font-size: large;
    font-weight: 600;
    text-align: justify;
}

.propos_liste {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: center;
    gap: 300px;
    line-height: 30px;
    font-size: large;
    font-weight: 600;
}

.propos_liste h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px
}

.propos_liste li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    color: #3d3d3d;
    font-size: large;
    font-weight: 600;
}

.formulaire {
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.247);
    margin: 100px;
    padding: 20px;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-floating {
    width: 450px;
    padding-bottom:25px ;
}

.form-control:focus{
    box-shadow: 0 0 15px 2.5px rgba(0, 0, 0, 0.322) !important;
    border: 1px solid rgba(0, 0, 0, 0.322) !important;
}

.formulaire h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 50px;
}
#Motivation{
    height:150px ;
}
[type="submit"]{
    padding: 15px 20px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}
[type="submit"]:hover{
    background-color: white;
    border: 2px solid black;
    color: #000000;
}
@media (max-width: 991px) {
    .imageDev h1 {
        font-size: 40px; 
        top: 40%;
    }
    
    .imageDev p {
        font-size: 16px;
        top: 55%;
    }

    .propos p {
        margin: 0 20px; 
    }

    .form-floating {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .imageDev img {
        height: 60vh; 
        object-fit: cover;
    }

    .imageDev h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .imageDev a {
        top: 30%;
        font-size: 14px;
    }

    .flex_span span {
        width: 100%; 
        margin-bottom: 15px;
    }

    .formulaire {
        margin: 20px; 
        padding: 15px;
    }

    [type="submit"] {
        width: 100%; 
    }
}

@media (max-width: 576px) {
    .imageDev h1 {
        font-size: 24px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    }
}