* {
    margin: 0px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

body {
    padding-top: 5px;
}

:root {
    --grey-color: grey;
    --section-color: white;
    --black-color: #000000;
    --white-color: #ffffff;
}


.navbar {
    background-color: var(--section-color);
    color: black !important;
    border-bottom: 1px solid black;
}


.nav-link {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;

}


.navbar .navbar-nav .nav-link {
    color: black;
    margin-left: 12px;
    position: relative;
    padding-bottom: 5px !important;
    display: inline-block;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover::after{
    transform: scaleX(0.7);
}


.navbar .navbar-toggler {
    color: black;
    font-size: 25px;
    border-color: black;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--grey-color);
}

.navbar .btn {
    background-color: black;
    color: white;
    padding: 6px 22px;
    margin-left: 12px;
}

.navbar .btn:hover {
    background-image: linear-gradient(to right, black 2%, grey 80%);
}

.logo {
    width: 125px;
    filter: contrast(100%) grayscale(150%);
}

main {
    margin: 100px auto 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 25px;
    border-bottom: 10px solid black;
}

h1 {
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
}

hr {
    margin: 25px 0px;
}

[type="email"],
[type="password"] {
    margin-top: 10px;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    color: #000000;
    width: 100%;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.562);
    border-radius: 15px;
    outline: none;
    padding: 10px;
}

[type="email"]:focus,
[type="password"]:focus {
    border: 2px solid black;
}

[type="email"] {
    margin-bottom: 20px;
}

[type="password"] {
    margin-bottom: 5px;
}

.password {
    text-decoration: none;
    color: #000000;
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

[type="submit"] {
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    background-color: #000000;
    display: block;
    margin: 20px auto;
    font-family: "Google Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}

[type="submit"]:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

p {
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

[href="compte.html"] {
    text-decoration: none;
    text-align: center;
    color: rgb(38, 99, 255);
    display: block;
    margin-top: 5px;
}

/* dyal telephone */
@media (max-width: 575.98px) {
    main {
        width: 90%;
        margin: 80px auto 0 auto;
        padding: 20px;
        border-bottom: 6px solid black;
    }

    nav a {
        margin: 10px 8px;
        font-size: 14px;
    }

    .logo {
        width: 100px;
    }

    h1 {
        font-size: 24px;
    }
}

/* dyal teblettes */
@media (min-width: 576px) and (max-width: 767.98px) {
    main {
        width: 60%;
        margin: 90px auto 0 auto;
        padding: 22px;
    }

    nav a {
        margin: 12px 12px;
        font-size: 16px;
    }

    .logo {
        width: 110px;
    }

    h1 {
        font-size: 28px;
    }
}