* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

:root {
    --grey-color: grey;
    --section-color: white;
    --black-color: #000000;
    --white-color: #ffffff;
}


.navbar {
    background-color: var(--section-color);
    color: black !important;
    border-bottom: 1px solid black;
}


.nav-link {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;

}


.navbar .navbar-nav .nav-link {
    color: black;
    margin-left: 12px;
    position: relative;
    padding-bottom: 5px !important;
    display: inline-block;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover::after{
    transform: scaleX(0.7);
}


.navbar .navbar-toggler {
    color: black;
    font-size: 25px;
    border-color: black;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--grey-color);
}

.navbar .btn {
    background-color: black;
    color: white;
    padding: 6px 22px;
    margin-left: 12px;
}

.navbar .btn:hover {
    background-image: linear-gradient(to right, black 2%, grey 80%);
    color: white !important;
}

.logo {
    width: 125px;
    filter: contrast(100%) grayscale(150%);
}
.formation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.formation:hover {
    background-image: linear-gradient(to right, #3d3d3d, grey);
}

.title h2 {
    width: 100%;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: "Archivo", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #000000;
    padding-bottom: 35px;

}

.formation_page {
    padding: 150px 40px;
}

.flex_page_formation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
}

.image_page_formation {
    width: 600px;
    height: 300px;
    border-radius: 15px;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: b0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.image_page_formation:hover {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

.title_page_formation {
    font-size: 50px;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding-right: 50px;
    padding-bottom: 20px;
}

.flex_page_formation p {
    color: #818181;
    font-weight: 300;
    line-height: 25px;
}

#sep_formation_page {
    margin: 90px 0px;
}

.custom-card {
    padding: 40px 20px;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
    transition: 0.5s ease;
    min-width: 350px;
    background: white;
}

.custom-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-color: black;
}

.custom-card p {
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.custom-card span {
    background-color: #818181;
    padding: 5px;
    color: #ffffff;
    border-radius: 7px;
}
.savoir-plus{
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 700;
}

/* code ta3 footer */
footer {
    background: #111;
    color: white;
    padding: 40px 20px 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.social-media {
    margin: 20px 0;
}

.social-media i {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}



@media (max-width: 991px) {
    .image_page_formation {
        display: none !important;
    }
}

@media (max-width: 575.98px) {
    .formation_page {
        padding: 80px 20px;
    }

    .flex_page_formation {
        flex-direction: column;
        align-items: center;
    }

    .title_page_formation {
        font-size: 32px;
        padding-right: 0;
        text-align: center;
    }

    .flex_page_formation p {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding: 0 10px;
    }

    .custom-card {
        min-width: 100%;
        padding: 30px 15px;
    }

    footer .info p {
        width: 100%;
        text-align: center;
    }

    .social-media {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .formation_page {
        padding: 120px 30px;
    }

    .title_page_formation {
        font-size: 40px;
        padding-right: 20px;
        text-align: center;
    }

    .custom-card {
        min-width: 300px;
    }

    footer .info {
        flex-direction: column;
        align-items: center;
    }

    footer .info p {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
}